<div data-role="view" data-title="View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow" id="homeViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="box-shadow:none; background-image: url(img/ezi_logo_login.png);  background-size: 50%; background-repeat: no-repeat;background-position: center;">

            <span>&nbsp</span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div style="width: 100%; text-align: center;">
    <img src="img/eziwifi_logo.png" width="60%" height="auto" style="margin-top:70px;" onclick="">
        </div>
    <div id="spec-banner" style="text-align:center;"></div>
    <div class="action-buttons" style="margin: 0px 30px 0px 30px">
        <a   data-role="button" class="km-justified transitions-button" onclick="getSpec()">Login</a><br />
         <a href="#register-view"  data-role="button" style="margin-top:0px;" class="km-justified transitions-button">Register</a>
        <a href="#tabstrip-demo"  data-role="button" style="margin-top:0px;" class="km-justified transitions-button">Actionsheet</a>
    </div>
    <script>
        function getSpec(){
            onDeviceReady();
           // alert("dd");
        }
        
    </script>
    <!-- END_CUSTOM_CODE_homeView -->
</div>
