<div data-role="view" data-title="View" data-layout="main" data-model="app.profileView" data-show="app.profileView.onShow" data-after-show="app.profileView.afterShow" id="profileViewScreen" class="screen" data-persist="true" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
             <a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <span data-bind="text: strings.profileView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_profileView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    
  <!--  <div class="action-buttons">
        <a href="#view-transitions-login" class="km-justified km-primary" data-role="button" class="transitions-button">Login/Sign-up</a>
    </div>-->
    

    
    
    <ul data-role="listview" data-style="inset">
        <li><label for="username">Username: <input type="text" id="username" /></label></li>
        <li><label for="password">Password: <input type="password" id="password" /></label></li>
    </ul>
    
    <div class="action-buttons">
        <a href="#components/homeView/view.html"  data-role="button" class="km-primary km-justified transitions-button">Login</a><br />
        <a href="#components/homeView/view.html"  data-role="button" class="km-justified transitions-cancel">Cancel</a>
    </div>
    <div class="action-buttons">
     <a href="#register-view"  data-role="button" class="km-justified transitions-button">Register</a>
    
    </div>




<style type="text/css" media="screen">
h1.app-logo {
    margin: 3em 0;
    font-size: 3em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: .9em;
}
.action-buttons {
    margin: 1em;
}
#view-transitions-login .km-back {
    display: none;
}
</style>
    <!-- END_CUSTOM_CODE_profileView -->
</div>
